<footer id="footer">
   <section class="__nav">
      <nav>
         {% include 'partials/nav.html.twig' %}
      </nav>
   </section>
   <section class="__social-media">
      <div class="__social-links">
         {% include "partials/social-links.html.twig" %}
      </div>
   </section>
   <section id="colophon">
      <small><i class="far fa-copyright"></i> 2021 Slayley Art</small>
   </section>
</footer>