<div class="loader">
   <div class="loader__mask">
   <div class="inner">
      <div class="progress"></div>
   </div> <!-- this will scale up -->
   </div>
</div>
<div class="loader__content">
   <div class="inner">
   <!-- this will be animated on top of the dark background -->
   <div class="loader__title">
      <div class="loader__title--mask"><span>Fuck </span></div>
      <div class="loader__title--mask"><span>Yo Couch</span></div>
   </div>
   <div class="loader__image">
      <div class="loader__image--mask">
         <img src="https://picsum.photos/id/1026/720/480" />
      </div>
   </div>
   </div>
</div>