a {
   color: $link;
   text-decoration: none;
   transition: all 0.33s ease;
   @include hocus {
      color: $link-hover;
   }
}

ul, li {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

p {
   font-size: $fontSize-p;
   margin-bottom: 1rem;
   @include lhCrop(1.618);
   @include breakpoint(max, $xs) {
      font-size: $fontSize-p--mobile;
   }
   @include breakpoint(max, $sm) {
      font-size: $fontSize-p--tablet;
   }
}

h1, h2, h3, h4, h5, h6 {
   margin: 1.618rem 0 1.38rem;
   font-family: $bakbak;
   font-weight: 600;
   line-height: 1.3;
   color: $h-color;
   @include lhCrop(1.618);
   @include only(first);
   &:first-child {
      margin-top: 0;
   }
}

h1 { font-size: $fontSize-h1; }

h2 { font-size: $fontSize-h2; }

h3 { font-size: $fontSize-h3; }

h4 { font-size: $fontSize-h4; }

h5 { font-size: $fontSize-h5; }

h6 { font-size: $fontSize-h6; }

small, 
.text_small {
   font-size: 0.808rem;
}

blockquote {
   font-style: italic;
   color: lighten($gray-900, 40%);
}

strong {
   font-weight: 400;
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.float-left { float: left; }
.float-right { float: right; }

.clear {
   @include clearfix();
}

// Grav CMS Markdown Notice Plugin CSS
.notices {
   padding: 1px 1px 1px 10px;
   margin: 10px 0;
   p {
      padding: 0;
      margin: 0.5rem;
      font-weight: 300;
   }
   &::before {
      content: "\f071";
      font-family: $icons;
      font-size: 1.5rem;
      float: left;
      margin-left: -10px;
      margin-right: 20px;
      filter: contrast(150%) grayscale(50%);
   }
   &.yellow {
      color: #df8a13;
   }
   &.red {
      color: lighten(#b52b27, 10%);
   }
   &.blue {
      color: #28a1c5;
   }
   &.green {
      color: #3d8b3d;
   }
   &.purple {
      color: $purple;
   }
}