#intro {
   padding-bottom: 3.5rem;
   clip-path: var(--hero-clip);
   overflow: hidden;
   .slide__event {
      .__location {
         font-size: $fontSize-h5;
         font-weight: 400;
         margin-left: 1.5rem;
         > .svg {
            @include size(1.65rem);
            top: 2px;
            left: -1px;
            fill: $red;
         }
      }
      .__date {
         font-size: $fontSize-large;
         font-weight: 400;
         margin-left: 1.5rem;
         margin-bottom: 1rem;
         > .svg {
            @include size(1.5rem);
            top: 5px;
         }
         span {
            margin-left: 9px;
         }
      }
   }
   #art-preview {
      width: 69%;
      .img-wrapper {
         flex: 1 0 20%;
      }
   }
   .img-preview {
      position: absolute;
      transition: all 300ms ease(in-out-quad);
      ._img {
         .caption {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
            background-color: rgba($grey1, 0);
            font-size: $fontSize-small;
            color: rgba($gray-200, 0);
            transform: scale(1.25);
            transition: all 300ms ease(in-out-quad);
         }
         &:hover {
            .caption {
               background-color: rgba($grey1, 0.65);
               color: rgba($gray-200, 0.8);
               transform: scale(1);
            }
         }
      }
   }
   #drawing {
      width: 12vw;
      top: 0;
      left: 100%;
      border: 6px solid coolSky(sh06);
   }
   #painting {
      width: 10vw;
      top: -50%;
      left: 80%;
      border: 6px solid coolSky(sh08);
   }
   #digital {
      width: 15vw;
      top: 10%;
      left: 60%;
      border: 6px solid coolSky(sh04);
   }
   #uv {
      width: 10vw;
      top: 100%;
      left: 90%;
      border: 6px solid coolSky(sh10);
   }
   #drawing, #painting, #digital, #uv {
      &:hover {
         border-color: coolSky(sh01);
      }
   }
   #more {
      position: relative;
      margin-top: 2.5rem;
      z-index: 1;
      .__details {
         @include btn-minimal($fontSize-small);
         color: ocTeal(2);
         background-color: rgba(ocGray(2), 0.2);
      }
      @include breakpoint(max, $md) {
         text-align: center;
      }
   }
   @include breakpoint(max, $md) {
      padding-bottom: 2.5rem;
   }
}

#home-page {
   @include row();
   gap: 0 3rem;
   > section {
      @include row();
      @include breakpoint(max, $md) {
         flex-direction: column;
      }
      > article {
         @include col();
         padding: 0.5rem 1rem;
         > p {
            font-size: 0.8rem;
         }
         #welcome {
            @include row();
            flex-wrap: nowrap;
            margin-bottom: 2rem;
            gap: 1rem;
            @include breakpoint(max, $md) {
               flex-direction: column;
            }
            > .__about {
               @include row();
               flex-direction: column;
               justify-content: center;
               align-items: center;
               flex: 0 0 70%;
               > .__greetings {
                  width: 100%;
                  display: flex;
                  justify-content: flex-end;
                  > .intro {
                     display: inline-flex;
                     gap: 1.2vw;
                     padding-right: 4.2vw;
                     > div {
                        font-weight: 400;
                        font-family: $font--Hx;
                     }
                     .__hi {
                        //@include animate(hi, 1.25s, 1.25s);
                        @include fadeInUp(1.25s, 1.25s, both);
                        margin-top: 15px;
                        font-size: $fontSize-h5;
                        color: ocGray(8);
                     }
                     .__im {
                        //@include animate(im, 1s, 2.5s);
                        @include popIn(0.75s, 2.5s, both);
                        margin-top: 10px;
                        font-size: $fontSize-h5;
                        color: ocGray(7);
                     }
                     .__slayley {
                        @include animate(slayley, 1.5s, 3.8s);
                        font-size: $fontSize-h3;
                        color: ocGrape(8);
                     }
                  }
               }
            }
            > .__learn-more {
               @include flexbox($direction: column, $justify: space-evenly, $align: center, $gap: 1rem);
               @include breakpoint($xs, $lg) {
                  flex-direction: row;
                  gap: 0;
               }
               > a {
                  padding: 0.5rem 1rem;
                  border: 1px solid $gray-400;
                  border-radius: 1.5rem;
                  font-size: $fontSize-subtitle;
               }
               > .avatar {
                  @include size(10rem);
                  flex: 0 1 10rem;
                  border: 8px solid ocGrape(9);
                  border-radius: 50%;
                  overflow: hidden;
                  > img {
                     object-fit: cover;
                  }
                  @include breakpoint($xs, $md) {
                     @include size(8rem);
                     flex: 0 1 8rem;
                  }
               }
               
            }
         }
         > .__content {
            width: 100%;
         }
         > #art-preview {
            margin: $spacing-unit auto;
            gap: 0;
            width: 80%;
            overflow: hidden;
            > .grid-item {
               ._img {
                  figcaption {
                     --thumb-cap-bgOpacity: 0.2;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     width: 100%;
                     height: 100%;
                     opacity: 1;
                     // background: ocGray(8);
                     transform: translateY(0);
                     backdrop-filter: blur(2px);
                     > span {
                        font-family: $blinker;
                        font-size: $fontSize-h6;
                        font-weight: 600;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        text-shadow: 0 0 3px $black, 0 0 6px ocGray(9);
                        opacity: 1;
                        transform: scaleX(1);
                        filter: blur(0);
                        transition: all 600ms ease(in-out-quad);
                     }
                  }
               }
               &:hover {
                  ._img {
                     figcaption {
                        --thumb-cap-bgOpacity: 0.1;
                        backdrop-filter: blur(0);
                        > span {
                           filter: blur(3px);
                           transform: scaleX(2);
                           opacity: 0;
                        }
                     }
                  }
               }
               @include only(2) {
                  @include col(5);
                  figcaption {
                     background: rgba(ocGrape(8), var(--thumb-cap-bgOpacity));
                  }
               }
               @include only(3) {
                  @include col(7);
                  figcaption {
                     background: rgba(ocTeal(8), var(--thumb-cap-bgOpacity));
                  }
               }
               @include only(4) {
                  @include col(8);
                  figcaption {
                     background: rgba(ocLime(8), var(--thumb-cap-bgOpacity));
                  }
               }
               @include only(5) {
                  @include col(4);
                  figcaption {
                     background: rgba(ocPink(8), var(--thumb-cap-bgOpacity));
                  }
               }
            }
         }
      }
      > .__x66 {
         flex: 1 0 66%;
      }
      > aside {
         @include col();
         padding: 0.5rem 1rem;
         font-size: 1.2rem;
         > p {
            font-size: .95rem;
         }
         > #twitch-box {
            > iframe {
               width: 100%;
               max-width: 500px;
               height: auto;
               margin-left: auto;
               margin-right: auto;
               margin-bottom: 1.6rem;
               aspect-ratio: 4/3;
            }
         }
         > .__streaming {
            @include row();
            align-items: center;
            > .interact {
               @include col();
               flex-basis: 65%;
            }
            > .avatar {
               @include col();
               flex-basis: 35%;
               > .ggSlayley {
                  border: 8px solid $gray-900;
                  border-radius: 50%;
               }
            }
            @include only(2) {
               margin-top: $spacing-unit;
            }
         }
      }
      > .__x33 {
         flex: 0 1 33%;
         > #vgfaf {
            position: relative;
            width: 100%;
            height: 100%;
            .__visual-arts,
            .__gaming,
            .__flow-arts,
            .__fitness {
               position: absolute;
            }
            .__visual-arts {
               top: 1%;
               left: -10%;
            }
            .__gaming {
               top: 18.6%;
               right: 0;
               color: ocGray(8);
            }
            .__flow-arts {
               top: 35%;
               right: 30%;
               color: ocGray(7);
            }
            .__fitness {
               top: 50%;
               right: 30%;
               color: ocGray(6);
            }
         }
      }
      > .__x66,
      > .__x33 {
         @include breakpoint(max, $md) {
            flex: auto;
         }
      }
   }
    
   @include until(800px) {
      flex-direction: column;
   }
}

#store {
   article {
      .__new-products {
         @include row();
         flex-wrap: nowrap;
         gap: 1rem;
         margin-bottom: 2rem;
         .__category {
            @include col(6);
         }
         .product-listing {
            @include row();
            flex-wrap: nowrap;
            gap: 1rem;
            > .__image {
               @include col(6);
               > img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
            > .product {
               @include col(6);
               > .__title {
                  > h5 {
                     font-size: $fontSize-h6;
                  }
               }
               > .__info {
                  > p {
                     font-size: $fontSize-small;
                  }
                  > a {
                     @include btn-minimal(0.808rem);
                  }
               }
            }
         }
      }
   }
}

