{% extends 'partials/base.html.twig' %}

{% set show_breadcrumbs = header_var('show_breadcrumbs', [page, blog])|defined(true) %}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}

{% block content %}
	<header id="event-hero" class="hero blobFX jarallax">
      {% include "blog/event-hero.html.twig" %}
   </header>

   {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
      <section id="breadcrumbs">
         {% include 'blog/breadcrumbs.html.twig' %}
      </section>
	{% endif %}

   <main id="events">
      <section class="event-listing">
         {% include 'partials/event_item.html.twig' with { 'event': page.parent, 'truncate': false, 'single': true } %}
      </section>
      {% include 'partials/events_sidebar.html.twig' with { 'page': page.parent } %}
   </main>
{% endblock %}

{% block bottom %}
   {{ parent() }}
   <script>
      $(document).ready(function(){
         $('.jarallax').jarallax();
      });
   </script>
{% endblock %}